[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
epc = "*"
jedi = "*"
flake8 = "*"

[packages]
aniso8601 = "*"
colorama = "*"
django-environ = "*"
django-extensions = "*"
django-reversion = "*"
docopt = "*"
gunicorn = "*"
pysolr = "*"
simplejson = "*"
django-bootstrap4 = "*"
django-cors-headers = "*"
whitenoise = "*"
setuptools = "*"
django = "*"
charset-normalizer = "*"
python-dotenv = "*"
tablelinker-light = "*"

[requires]

[scripts]
server = "python django-backend/manage.py runserver '0.0.0.0:8000'"
collectstatic = "python django-backend/manage.py collectstatic"
production = "gunicorn --chdir=django-backend --bind=0.0.0.0:8000 conf.wsgi"
update = "python django-backend/manage.py runscript update"
get_resource = "python django-backend/manage.py runscript resource"
format = "autopep8 -ivr --ignore E226,E24,W50,W690,E501 ."
lint = "flake8 --show-source --ignore E501,W503 ."
