# .env の例
# このファイルを .env にコピーし、必要な項目を編集してください。

# Frontend settings
PRIVATE_BACKEND_API_URL=http://backend/api
PUBLIC_BACKEND_API_URL=http://localhost:25000/api

# Backend settings
XCKAN_ALLOWED_HOSTS=*
DJANGO_SUPERUSER_USERNAME=xckan
DJANGO_SUPERUSER_PASSWORD=xckan
MAX_METADATA_SIZE=10485760

# Mail (SMTP) server settings
XCKAN_SYSTEM_NAME=xckan docker running on xckan-dev
XCKAN_SYSTEM_FROM=noreply@xckan.docker
SMTP_HOST=mysmtp.example.com
SMTP_PORT=465
SMTP_USER=smtpuser@mysmtp.example.com
SMTP_PASS=ThisIsMySMTPAuthPassword00